@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #f5f2f0;
  --text-color: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f2f0;
    --foreground: #ededed;
    --text-color: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}
